.fa-regular {
  color: gray;
}
.pad {
  margin-top: -16px;
}
img {
  border-radius: 20%;
  width: 100px;
  height: 100px;
}
.email,.meeting {
  cursor:pointer
}
.btn-light.disabled, .btn-light:disabled {
  color: red;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
